<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-rSDzjZcrf0JLgFmNyY4zw6QnvJD_stI</string>
	<key>GCM_SENDER_ID</key>
	<string>752307311026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.zachuma</string>
	<key>PROJECT_ID</key>
	<string>zachuma-ia7u2j</string>
	<key>STORAGE_BUCKET</key>
	<string>zachuma-ia7u2j.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752307311026:ios:0a6ea39fbd4b8d54ebd4ab</string>
</dict>
</plist>